@import "tailwindcss";

:root {
    --border: 1px solid rgba(100, 100, 100, 0.3);
    --border-radius: 8px;

    --base-font: "Geist", sans-serif;

    --region-border-radius: 4px;

    --bg-primary: rgba(255, 255, 255, 1.0);
    --bg-secondary: rgb(238, 242, 249);
    --bg-tertiary: rgb(216, 220, 231);
    --bg-quaternary: rgb(200, 204, 214);

    --button-default: rgba(220, 220, 220, 1.0);
    --button-hover: rgb(200, 200, 200);
    --button-active: rgb(180, 180, 180);

    --fg: rgba(50, 50, 50, 1.0);
    --fg-inverted: rgba(255, 255, 255, 1.0);

    --accent-color: rgb(0, 130, 220);

    --destructive-color: rgba(220, 50, 50, 0.7);
}

@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

html,
body #root {
    /* Disable scrolling */
    height: 100%;
    overflow: hidden;
}

.default-border {
    border: var(--border);
}

.bottom-border {
    border-bottom: var(--border);
}

.border-rounded {
    border-radius: var(--border-radius);
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;
    /* Firefox */
}

.basic-button {
    padding: 4px 8px 4px 8px;
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    transition: filter 0.1s ease-in-out;
    color: var(--fg);
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.2);
}

.basic-button.icon {
    padding: 6px;
    aspect-ratio: 1 / 1 !important;
    align-items: center;
    justify-content: center;
    display: flex;
}

.basic-button.highlighted {
    background-color: rgba(0, 130, 220, 0.7);
}

.basic-button.destructive {
    background-color: var(--destructive-color);
    color: var(--fg-inverted);
}

.basic-button:hover {
    filter: brightness(0.8);
}

.basic-button:active {
    filter: brightness(0.5);
}

.basic-button:disabled {
    cursor: default;
    filter: opacity(0.5);
}